<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{hero.name}} Page</title>
  </head>
  <body>
    <h1>{{hero.name}}</h1>
    <p>Alter Ego</p>
    <h2>{{hero.alter_ego}}</h2>
    <p>Primary Ability</p>
    <h2>{{hero.primary_ability}}</h2>
    <p>Secondary Ability</p>
    <h2>{{hero.secondary_ability}}</h2>
    <p>Catch Phrase</p>
    <h2>{{hero.catch_phrase}}</h2>
    <a href="{% url 'superheroes:index' %}">Return</a>
  </body>
</html>
