<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{hero.name}} Page</title>
  </head>
  <body>
    <h1>{{hero.name}}</h1>
    <p>Alter Ego: <span>{{hero.alter_ego}}</span></p>
    <p>Primary Ability: <span>{{hero.primary_ability}}</span></p>
    <p>Secondary Ability: <span>{{hero.secondary_ability}}</span></p>
    <p>Catch Phrase: <span>{{hero.catch_phrase}}</span></p>
    <a href="{% url 'superheroes:index' %}">Return</a>
    <a href="{% url 'superheroes:edit' hero.id %}">Edit</a>
    <a href="{% url 'superheroes:delete' hero.id %}">Delete</a>
  </body>
</html>
